<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1> List User</h1>
    <a th:href="@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3"> A create new User </a>
    <h1>User Search</h1>
    <form action="/users/search" method="GET">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Search</button>
    </form>

    <div th:text="${user}">
        <h2>User Details</h2>
        <p>ID: <span th:text="${user.id}"></span></p>
        <p>Name: <span th:text="${user.name}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Phone: <span th:text="${user.phone}"></span></p>
        <p>Address: <span th:text="${user.address}"></span></p>
        <p>Password: <span th:text="${user.password}"></span></p>
    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Avatar</th>
            <th>Password</th>
            <th>  </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.address}"></td>
            <td>
                <img th:src="@{${user.avatar}}">
            </td>
            <td th:text="${user.password}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
